@media all and (max-width:500px) {

    .card{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-radius: 10px;
        margin: 40px 35px;
        min-height: 80%;
    }
    
    .card_image-box{
        position: relative;
        width: 100%;
        height: 220px;

        &:before{
            background-color: hsla(0, 0%, 100%, 0);
        }

        .card_image_desktop{
            display: none;
        }
    }

    img{
        display: none;
    }
    
    .card_image{
        height: 100%;
        max-width: 100%;
        background: url(../images/image-header-mobile.jpg);
        background-size:cover;
        background-repeat: no-repeat;
    
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: hsl(277, 64%, 61%, 0.5);
        }
    }
    
    .card_main-box{
        background-color: hsl(244, 38%, 16%);
        width: auto;
    }
    
    .card_main{
        padding: 15px;
        h1{
            color: hsl(0, 0%, 100%);
            font-family: $font-Lexand;
            font-size: 1.7rem;
            margin-bottom: 17px;
            span{
                color: hsl(277, 64%, 61%)
                ;
            }
        }
    
        p{
            margin-bottom: 23px;
            color: hsla(0, 0%, 100%, 0.75);
        }
    }
    
    .container{
        display: block;
        :not(:last-child){
            margin-bottom: 14px;
        }
    
        .numbers{
            font-family: $font-Poppins;
            color: hsl(0, 0%, 100%);
            font-size: 1.5rem;
            font-weight: 700;
        }
    
        .text{
            color: hsla(0, 0%, 100%, 0.6);
        }
    }
}